*{
    font-family:"Nunito";
}

/* all */

h1{
    font-size: 8vh;
    font-weight: 600;
}

h2{
    font-size: 5vh;
    font-weight: 600;
}

h5{
    font-size: 3.5vh;
    font-weight: 600
}

p{
    font-size: 2.5vh;
}

.lead{
    font-size: 3vh;
}

a{
    text-decoration: none
}

.white{
    color: white;
}

.blue {
    color:#1776B9;
}

.btn-yellow{
    color: #066CB4;
    font-size: 2.5vh;
    font-weight: 600;
    border-radius: 30vh;
    border: 0.5vh solid #FBCD26;
    padding:1.5vh 3.5vh 1.5vh 3.5vh;
    margin: 3vh 0 3vh 0;
    background-color:  #FBCD26;
}

.btn-yellow:hover{
    background-color: transparent;
    color:  #FBCD26;
    transition: 0.2s ease-in;
}

.btn-yellow:active{
    background-color: #FBCD26;
    color:  #066CB4;
    transition: 50ms ease-in;
}

.rounded{
    border-radius: 5vh !important;
}
/* all end */


/* header */
.navbar{
    background-color: #066CB4
}
.nav-item {
    padding: 0 2vw 0 2vw;
    font-size: 2.5vh
}

.nav-link:hover{
    color:#FBCD26 !important;
}

.nav-link:active{
    color:#FFFFFF !important;
}

.logo-indomaret{
    height: 10vh;
    width: auto
}


/* header end */

/* main page */
.main-container{
    padding-top: 17vh;
    height: 110vh;
    background-image: linear-gradient(#066CB4 16%, #9CC5E1);
    border-radius: 0 0 0 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    overflow: hidden
}


/* end main page */


/* promo */
.promo-container{
    padding: 12vh 0 12vh 0;
}

.promo-spesial{
    margin-top: 5vh;
    display: flex;
    align-content: center
}

.slick-arrow{
    display: flex
}

.slick-arrow:hover{
    cursor: pointer;
    
}

.slick-prev, .slick-next{
    align-self: center
}
/* end promo */


/* tentang */
.tentang-container{
    border-radius: 0 0 0 0;
    width: auto;
    height: 100vh;
    background-image: url(../images/TentangKami-M.png);
    background-position: center
}

.tentang-wrapper{
    border-radius: 0 0 0 0;
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, rgba(6,108,180,1)20%, rgba(6,108,180,0.7), rgba(6,108,180,0))      
}
/* end tentang */


/* visi */
.visi-container{
    background-color: #EDEDED;
    display: flex;
}

.visi-wrapper{
    margin: 0 0 10vh 0;
}

.red-card{
    background-color: #F23B2F;
}

.blue-card{
    background-color: #0D87DD;
}

.yellow-card{
    background-color: #FAC608;
}

.card-body{
    padding:12vh 8vh 4vh 8vh
}

.card{
    border-radius: 5vh;
    border-style: none !important;
    margin-top: 15vh
}

.card-img{
    border-radius:  0 0 5vh 5vh 
}

.visi-icon{
    top:-6vh;
    left: 6vh;
    height: 15vh;
    width: auto
}
/* end visi */


/* awards */
.awards-container{    
    margin: 12vh 0 12vh 0
}


.awards-list{
    margin-top: 5vh;
    display: flex;
    align-content: center
}

.awardlist{
    display: flex;
    align-content: center
}

.awards-list .slick-arrow{
    display: flex
}

.awards-list .slick-arrow:hover{
    cursor: pointer;
    
}

.awards-list .slick-prev, .slick-next{
    align-self: center
}
/* end awards */


/* brands */
.brands-container{
    background-color: #1776B9;
    border-radius: 0 0 0 0;
    width: auto;
    display: flex;
    overflow: hidden
}

.brands-logo{
    height: 45vh;
    width: auto;
    margin: 9vh 0 5vh 0;
}

.brands-logo img{
    height: 75vh;
    width: auto;
    object-fit: contain;
}

.brands-wrapper{
    margin: 18vh 0 15vh 0;   
}
/* end brands */


/* klik indomaret */
.klik-container{
    overflow: hidden;
    height: 80vh;
    width: auto;
    background-color: #FAC608
}

.kliklogo-container img{
   height: 13vh;
    width: auto
}

.logo-apple{
    padding-left: 1vw
}

.mockup img{
    z-index: 10;
    top:8vh;
    pointer-events: none;
}

.lingkar-bg img{
    top:12vh;
    pointer-events: none;
}
/* end klik indomaret */


/* kontak */
.form-control{
    border-radius: 2vh;
    padding: 2vh;
    border: none;
    background-color: #EDEDED
}

.sosmed-logo img{
    height: 6.5vh;
    margin-left: 2.5vw
}

.copyright-container{
    background-color: #1776B9;
    overflow: hidden;
    border-radius: 0 0 0 0
}

#name, #Email, #message{
    padding-left:2vw;
    font-size: 2.5vh
}
/* end kontak */


/* responsif */
@media screen and (max-width:376px){
    .main-container{
        padding-top: 10vh
    }
    .brands-logo img{
        height: 35vh !important
    }
    .klik-image{
        top: 8vh
    }
    
    .lingkar-bg img{
        top: -30vh !important
    }
            
    .kliklogo-container img{
        height: 11vh
    }
    
}
    
@media screen and (max-width:576px){
    .container{
        padding: 0 8vw 0 8vw
    }
    
    h1{
        font-size:  7vh
    }
    .main-container{
        height: 115vh
    }
    .slick-arrow img{
        height: 5vh;
    }
    .brands-logo{
        height: 30vh
    }
    .brands-logo img{
        height: 50vh
    }
    
}

@media screen and (width: 768px){
    .klik-container{
    overflow: hidden;
    height: 90vh !important;
    width: auto;
    background-color: #FAC608
    }
    
    .klik-image{
        top:30vh
    }
    
    .tentang-container{
    height: 90vh;
    background-image: url(../images/TentangKami-M.png)!important;
    background-position: center !important
    }
    
    .tentang-wrapper{
        border-radius: 8vh 8vh 0 0;
        height: 90vh;
        width: auto;
        display: flex;
        align-items: center !important;
        background-image: linear-gradient(to right, rgba(6,108,180,1)20%, rgba(6,108,180,0.7), rgba(6,108,180,0)) !important      
    } 
}
    
@media screen and (max-width: 768px){
    .main-heading{
        margin-top: 10vh
    }
    
    .promo-container .container{
        max-width: 700vw;
        padding: 0 5vw 0 5vw
    }
   
    .main-container{
        position: relative;
        display: flex;
        align-items: flex-start;
    }
    
    
    .tentang-container{
    width: auto;
    height: 90vh;
    background-image: url(../images/TentangKami-S.png);
    background-position: top center
    }
    
    .tentang-wrapper{
    border-radius: 8vh 8vh 0 0;
    height: 90vh;
    width: auto;
    display: flex;
    align-items: flex-end;
    background-image: linear-gradient(to top, rgba(6,108,180,1)20%, rgba(6,108,180,0.7), rgba(6,108,180,0))      
    }
   
    .tentang-kami{
        padding-bottom: 10vh
    }
    
    
    
    .klik-container{
    height: 100vh;
    display: flex;
    align-items: flex-start !important;
    }
   
    .klik-image img{
        top:-10vh
    }
    
    .kliklogo-container{
    transform: none;
    align-items: center
    }
    
    .kontak-container .container{
       max-width: 700vw !important;
        padding: 0 5vw 0 5vw
    }

}

@media screen and  (max-width: 1024px){
    
   
}


@media screen and (min-width: 1440px){
    .container{
        max-width: 2500vw;
        padding: 0 7vw 0 7vw
    }
   
    .btn-yellow{
        font-size: 2.5vh
    }
    
    .slick-arrow img{
        height: 6vh
    }
    
    .tentang-container{
    border-radius: 8vh 8vh 0 0;
    width: auto;
    background-image: url(../images/TentangKami-L.png);
    background-position: top right center;
    }
    
    .awards-logo img{
        height: 20vh !important;
        width: auto
    }
    
    .klik-image img{
        height: 95vh;
        right: -5vw
    }
}
/* end responsif */




